.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 20px;
    /* background: #f8f9fa94; */
    background-image: url('/img/bg14.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    margin: auto;
}

h1 {
    font-size: 20px;
    color: #333;
}

.input {
    padding: 10px;
    width: 80%;
    border: 1px solid #f7d57a;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
}

.button {
    background-color: #28a745;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.button:hover {
    background-color: #218838;
}
